<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>

    <%- include('includes/basic-css');%>
    <link rel="stylesheet" href="css/login.css">

    <%- include('includes/external-includes');%>
</head>
<body>
    <%-include('includes/publicNavbar')%>
    <main>
        <div class="login-form-card-wrapper">
            <form id="loginPageForm" method="post">
                <div class="login-form-card-wrapper__inside">
                    <input autocomplete="off" id="loginFormUsernameInput" class="login-form-card-wrapper__usernameInput" placeholder="username" type="text" name="username" required>
                    <input autocomplete="off" id="loginFormPasswordInput" class="login-form-card-wrapper__passwordInput" placeholder="password" type="password" name="password" required>
                    <div class="login-form-card-wrapper__buttons">
                        <a href="/forgot-password">Forgot Password</a>
                        <button class="login-form-card-wrapper__buttons__submit" type="submit">
                            Login
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                            </svg>                              
                        </button>
                    </div>
                </div>
            </form>
            <div class="login-form-card-wrapper__secure-fact-of-the-day-wrapper">
                <h1>Secure Fact for the day!</h1>
                
                <!-- TODO: add typing effect  -->
                <h3>
                    <span id="factSpan">
                    </span>
                    <br>
                    <span class="login-form-card-wrapper__secure-fact-of-the-day-wrapper__knew-that" onclick="fetchFacts()">i knew this...</span>
                </h3>
            </div>
        </div>
    </main>
</body>
<script src="js/login.js"></script>
<script src="js/facts.js"></script>
<%-include('includes/script')%>
<%-include('includes/footer')%>
</html>